<section class="browse" *ngIf="bootcamps">
  <div class="row">
    <!-- Sidebar -->
    <div class="col-md-3">
      <div class="card card-body mb-4">
        <h4 class="mb-3">By Location</h4>
        <form>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <input
                  type="text"
                  class="form-control"
                  name="miles"
                  placeholder="Miles From"
                  [(ngModel)]="miles"
                />
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <input
                  type="text"
                  class="form-control"
                  name="zipcode"
                  placeholder="Zipcode"
                  [(ngModel)]="zipcode"
                />
              </div>
            </div>
          </div>
          <button class="btn btn-primary btn-block mb-2" (click)="sendData()">
            Find Bootcamps
          </button>
          <!-- <input
            type="button"
            value="Find Bootcamps"
            class="btn btn-primary btn-block"
            (click)="sendData()"
          /> -->
        </form>
      </div>
    </div>

    <!-- Main col -->
    <div class="col-md-9">
      <app-list-bootcamps
        [zipcode]="zipcode"
        [miles]="miles"
      ></app-list-bootcamps>
    </div>
  </div>
</section>
