<!-- Review -->
<div class="card mb-2">
  <h5 class="card-header bg-primary text-white">
    {{ review.title }}
  </h5>
  <div class="card-body">
    <h5 class="card-title">
      Rating: <span class="text-success">{{ review.rating }}</span>
    </h5>
    <p class="card-text">
      {{ review.text }}
    </p>
    <p class="text-muted">Writtern By {{ review.user.name }}</p>
  </div>
  <div *ngIf="loggedInUserId === review.user._id" class="mt-3">
    <button class="btn btn-danger btn-sm float-right mr-3">
      <i class="fa fa-times"></i> Delete
    </button>
    <button class="btn btn-primary btn-sm float-right mr-3">
      <i class="fa fa-pencil"></i> Edit
    </button>
  </div>
</div>
