img {
  width: 70%;
}
.showcase {
  background: url('../../../assets/img/showcase.jpg') no-repeat center
    center/cover;
  min-height: 75vh;
  color: #fff;
  border: 4px solid silver;
  position: fixed;
  top: 50%;
  left: 50%;
  width: 80%;
  height: fit-content;
  transform: translate(-50%, -50%);
}
.showcase-inner {
  text-align: center;
  width: 90%;
  margin: auto;

  position: fixed;
  top: 50%;
  left: 50%;
  height: fit-content;

  transform: translate(-50%, -50%);
}
.dark-overlay {
  background-color: rgba(0, 0, 0, 0.6);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

p {
  font-size: 14px;
}

h1 {
  font-size: 20px;
  font-weight: bold;
}

@media (min-width: 1025px) {
  p {
    font-size: 22px;
  }

  h1 {
    font-size: 40px;
    font-weight: bold;
  }
  .showcase {
    width: 60%;
  }
  .showcase-inner {
    width: 65%;
  }
}
