<!-- <div *ngIf="showLoadingIndicator" class="spinner"></div> -->
<!-- <div class="container"> -->
<app-navbar></app-navbar>

<flash-messages></flash-messages>
<router-outlet (activate)="onActivate($event)"></router-outlet>

<div *ngIf="showLoadingIndicator" class="dark-overlay">
  <div class="row">
    <div class="spinner"></div>
  </div>
  <div class="row">
    <h5 class="loading">Loading ...</h5>
  </div>
</div>
<!-- <div class="lds-spinner" *ngIf="showLoadingIndicator">
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
  </div> -->
<!-- </div> -->
