<!-- Login -->
<section class="showcase">
  <div class="dark-overlay">
    <div class="showcase-inner mt-2">
      <h2><i class="fa fa-sign-in" aria-hidden="true"></i> User Login</h2>
      <!-- <p>
        Log in to list your bootcamp or rate, review and favorite bootcamps
      </p> -->
      <form class="form-signin" (submit)="onLoginSubmit()">
        <div class="form-group">
          <label for="email">Username</label>
          <input
            type="email"
            class="form-control"
            placeholder="user@example.com"
            [(ngModel)]="email"
            name="email"
          />
        </div>
        <div class="form-group">
          <label for="Password">Password</label>
          <input
            type="password"
            class="form-control"
            placeholder=" Enter Password"
            [(ngModel)]="password"
            name="password"
          />
        </div>

        <div class="form-group">
          <input
            type="submit"
            value="Login"
            class="btn btn-primary btn-block"
          />
        </div>
      </form>

      <p>
        Forgot Password?
        <a href="reset-password.html"> <strong> Reset Password</strong></a>
      </p>
    </div>
  </div>
</section>
