<section class="container">
  <div class="col-md-12">
    <a [routerLink]="['/list-bootcamp', bootcampId]" class="btn btn-link mb-2"
      ><i class="fa fa-chevron-left mr-2"></i>Bootcamp Info</a
    >
  </div>
  <h4 class="my-2"><strong>Manage Bootcamp</strong></h4>
  <app-bootcamp-item [bootcamp]="bootcamp"> </app-bootcamp-item>

  <div class="row">
    <div class="col-md-10 m-auto">
      <div class="card">
        <div class="card-body">
          <!-- <h4 class="mb-4"><strong>Manage Bootcamp</strong></h4> -->
          <!-- <app-bootcamp-item [bootcamp]="bootcamp"> </app-bootcamp-item> -->

          <form class="mb-4">
            <div class="form-group">
              <div class="custom-file">
                <input
                  type="file"
                  name="photo"
                  class="custom-file-input"
                  id="photo"
                />
                <label class="custom-file-label" for="photo"
                  >Change Bootcamp Image</label
                >
              </div>
            </div>
            <input
              type="submit"
              class="btn btn-dark btn-block"
              value="Upload Image"
            />
          </form>
          <a
            [routerLink]="['/upd-bootcamp', bootcamp.id]"
            class="btn btn-success btn-block"
            >Edit Bootcamp Details</a
          >

          <button
            [routerLink]="['/manage-courses', bootcamp.id]"
            class="btn btn-primary btn-block"
          >
            Manage Courses
          </button>

          <a href="#" class="btn btn-danger btn-block">Remove Bootcamp</a>

          <!-- <p class="text-muted mt-2">
            * You can only add one bootcamp per account.
          </p> -->

          <!-- <p class="text-muted">
            * You must be affiliated with the bootcamp in some way in order to
            add it to DevCamper.
          </p>  -->
        </div>
      </div>
    </div>
  </div>
</section>
