<section>
  <div class="row">
    <div class="col-md-8 m-auto">
      <div class="card py-2 px-4">
        <div class="card-body">
          <h4 class="mb-4">Manage Bootcamp</h4>
          <app-bootcamp-item [bootcamp]="bootcamp"> </app-bootcamp-item>

          <form class="mb-4">
            <div class="form-group">
              <div class="custom-file">
                <input
                  type="file"
                  name="photo"
                  class="custom-file-input"
                  id="photo"
                />
                <label class="custom-file-label" for="photo"
                  >Bootcamp Image</label
                >
              </div>
            </div>
            <input
              type="submit"
              class="btn btn-dark btn-block"
              value="Upload Image"
            />
          </form>
          <a href="add-bootcamp.html" class="btn btn-success btn-block"
            >Edit Bootcamp Details</a
          >
          <a
            [routerLink]="['/manage-courses', bootcamp.id]"
            [queryParams]="{ id: bootcamp }"
            class="btn btn-primary btn-block"
            >Manage Courses</a
          >
          <a href="#" class="btn btn-danger btn-block">Remove Bootcamp</a>
          <p class="text-muted mt-2">
            * You can only add one bootcamp per account.
          </p>
          <p class="text-muted">
            * You must be affiliated with the bootcamp in some way in order to
            add it to DevCamper.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
