<section class="bootcamp" *ngIf="bootcampName">
  <div class="row">
    <!-- Main col -->
    <div class="col-md-8">
      <a [routerLink]="['/list-bootcamp', bootcampId]" class="btn btn-link mb-2"
        ><i class="fa fa-chevron-left mr-2"></i>Bootcamp Info</a
      >

      <h4 class="mb-4 text-dark">{{ bootcampName }} Reviews</h4>
      <!-- Reviews -->
      <app-review-item *ngFor="let review of reviews" [review]="review">
      </app-review-item>
    </div>
    <!-- Sidebar -->
    <div class="col-md-4">
      <!-- Image -->
      <img src="../../../assets/img/{{ photo }}" class="img-thumbnail" alt="" />
      <!-- Rating -->
      <!-- Rating -->
      <h4 class="text-center my-2">
        <span
          class="badge badge-secondary badge-success  rounded-circle p-2 mr-2"
          >{{ averageRating || No }}
        </span>
        Rating
      </h4>

      <!-- Buttons -->
      <button
        [routerLink]="['/add-review', bootcampId]"
        class="btn btn-success btn-block my-3"
        [disabled]="!reviewEnabled"
      >
        <i class="fa fa-pencil-alt"></i> Review This Bootcamp
      </button>
    </div>
  </div>
</section>
