<section>
  <a [routerLink]="['/manage-bootcamp', bootcampId]" class="btn btn-link mb-2"
    ><i class="fa fa-chevron-left mr-2"></i> Manage Bootcamp</a
  >
  <div class="row">
    <div class="col-md-10 m-auto">
      <div class="card bg-white py-2 px-4">
        <div class="card-body">
          <h4 class="mb-4">Manage Courses</h4>
          <!-- bootcamp info -->
          <div class="card mb-3">
            <div class="row no-gutters">
              <div class="col-md-4">
                <img
                  src="../../../assets/img/{{ photo }}"
                  class="card-img"
                  style="height: 100%;"
                  alt="..."
                />
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <h5 class="card-title">
                    {{ bootcampName }}

                    <span class="float-right badge badge-success">{{
                      averageRating || 'No'
                    }}</span>
                  </h5>
                  <span class="badge badge-dark mb-2">Boston, MA</span>

                  <p class="card-text">
                    Web Development, UI/UX, Mobile Development
                  </p>
                </div>
              </div>
            </div>
          </div>

          <a
            [routerLink]="['/add-course', bootcampId]"
            class="btn btn-primary btn-block mb-4"
            >Add Bootcamp Course</a
          >

          <!-- Courses -->
          <h4 class="mb-4 mt-4">Courses Provided</h4>
          <!-- <div class="accordion" id="accordionExample"> -->
          <app-course-item
            *ngFor="let course of courses; index as i"
            [course]="course"
            [showEditDelete]="true"
            [index]="i"
          >
          </app-course-item>
          <!-- </div> -->

          <!-- <table class="table table-striped">
            <thead>
              <tr>
                <th scope="col">Courses</th>
                <th scope="col"></th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let course of courses">
                <td>{{ course.title }}</td>
                <td>
                  <button class="btn btn-danger float-right">
                    <i class="fa fa-times"></i>
                  </button>
                  <a
                    href="#"
                    class="btn btn-secondary float-right"
                    style="margin-right : 2rem;"
                    ><i class="fa fa-pencil"></i
                  ></a>
                </td>
              </tr>
            </tbody>
          </table> -->
        </div>
      </div>
    </div>
  </div>
</section>
